<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppToken</key>
	<string>e7c0a406-a6d1-457f-b529-c1572f8a9ece</string>
	<key>ProxID</key>
	<string>61687109-905F-4436-91F8-E602F514C96D</string>
</dict>
</plist>
